spring:
  profiles:
    active: dev
  mail:
    host: smtp.qq.com
    port: 587
    username: 3050604024@qq.com
    password: rxhidqusgbsmdcgh
    from: 校园帮 <3050604024@qq.com>
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
